.heading{
  text-align: center;
  color: blue;
}

.randcolor1{

  font-weight: 200;
  color: gold;
  background-color: darkgray;

}

.randcolor2{

  font-weight: 300;
  color: black;
  background-color: goldenrod;

}

.randcolor3{
  font-weight: 400;
  color: brown;
  background-color: darkblue;

}

.randcolor4{
  font-weight: 400;
  color: white;
  background-color: darkcyan;

}
